fastapi
uvicorn
python-multipart
python-dotenv
python-docx
pypdf
pymongo
motor
openai
google-generativeai
qdrant-client
langchain
langchain-community
langchain-openai
langchain-qdrant
langchain-text-splitters
langchain-core
pydantic
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt